.Hero{
  height: 20vh;
  width: 100%;
  background-color: white;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

.logo{
  font-size: 28px;
  padding-right: 50%;

}

nav li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav li a{
  color: limegreen;
  text-decoration: none;
  font-size: 18px;

}

nav li a:hover{
  color: black;
  transition: .3s;
}